@page "/"
@namespace Pharmacies.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines

@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmacies</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">


    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4i-Sx7hWh7p9JVNGTb553OLeM9unM4&v=3"></script>*@

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4i-Sx7hWh7p9JVNGTb553OLeM9unM4&v=3&libraries=places,visualization,drawing"></script>

</head>
<body>
    <app>
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="~/">Pharmacies_ZPP</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="" Match="NavLinkMatch.All">Home <span class="sr-only"></span></a>
                            <a class="nav-item nav-link" href="pharmacysearch">Search pharmacy</a>

                        </div>
                    </div>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        @{
                            var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                        }
                        @if (result.Success)
                        {
                            await Html.RenderPartialAsync("_LoginPartial");
                        }
                        else
                        {
                            throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                                "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                                $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                        }
                    </div>
                </div>
            </nav>
        </header>
        <component type="typeof(App)" render-mode="Server" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    @*BrowserInterop*@
    <script src="_content/BrowserInterop/scripts.js"></script>

    @*Radzen*@
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    @*BlazorGoogleMaps*@
    <script src="_content/BlazorGoogleMaps/objectManager.js"></script>

    <script src="~/js/script.js"></script>


    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4i-Sx7hWh7p9JVNGTb553OLeM9unM4&libraries=places"></script>*@


    <script src="https://unpkg.com/@@googlemaps/markerclustererplus/dist/index.min.js"></script>



    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>
