@page "/"
@namespace Pharmacies.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmacies</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">

    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4i-Sx7hWh7p9JVNGTb553OLeM9unM4&v=3"></script>*@

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4i-Sx7hWh7p9JVNGTb553OLeM9unM4&v=3&libraries=places,visualization,drawing"></script>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    @*BrowserInterop*@
    <script src="_content/BrowserInterop/scripts.js"></script>

    @*Radzen*@
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    @*BlazorGoogleMaps*@
    <script src="_content/BlazorGoogleMaps/objectManager.js"></script>

    <script src="~/js/script.js"></script>


    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqG4i-Sx7hWh7p9JVNGTb553OLeM9unM4&libraries=places"></script>*@

 
    <script src="https://unpkg.com/@@googlemaps/markerclustererplus/dist/index.min.js"></script>






</body>

</html>
