@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Pharmacies.Server.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@using Pharmacies.Server.Interfaces
@using Pharmacies.Server.Services
@using Pharmacies.Server.Controls

@page "/dashboard"
@attribute [Authorize(Roles = "Admin")]

@inject IUsersService UsersService
@inject IAreaService AreaService
@inject NavigationManager NavigationManager


<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center" style="width: 49%; text-align:center; display:inline-block;">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                            <p class="card-text"></p>
                            <a href="/users" class="btn btn-primary">See users</a>
                        </div>
                    </div>


                    <div class="card text-center" style="width: 49%; text-align:center; display:inline-block;">
                        <div class="card-body">
                            <h5 class="card-title">Areas</h5>
                            <p class="card-text"></p>
                            <a href="/areas" class="btn btn-primary">See areas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Authorized access only!</p>
    </NotAuthorized>
</AuthorizeView>




@code {






}
