@page "/dashboard"
<h3>Dashboard</h3>

<AuthorizeView>
    <Authorized>
        <p>Authorized</p>
    </Authorized>
    <NotAuthorized>
        <p>Unauthorized</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
