.collapsible {
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}
/*
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}*/

.pharmacies {
    width: 33%;
    height: 200px;
    text-align: center;
    display: inline-block;
}

@media (max-width: 1200px) {
    .pharmacies {
        width: 50%;
        height: 200px;
        text-align: center;
        display: inline-block;
    }
}

@media (max-width: 1000px) {
    .pharmacies {
        width:100%;
        height: 200px;
        text-align: center;
        display:block;
    }
}
