body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
}


.pharmacies {
    height: 80%;
    position: absolute;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
    .pharmacies::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
.pharmacies {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.map{
    max-width:100%;
    max-height:100%;
}





