@page "/createrole"
@model Pharmacies.Server.Areas.Identity.Pages.Account.Manage.CreateRoleModel

@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create new role.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.RoleName"></label>
                <input asp-for="Input.RoleName" class="form-control" />
                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">

    </div>
</div>
