@inherits LayoutComponentBase

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>

</div>
<footer class="footer border-top text-muted">
    <div class="container">
        &copy; 2021 - Pharmacies.Server - <a asp-area="" asp-page="Privacy">Privacy</a>
    </div>
</footer>
